#PmAm {
    font-size: 10px;
    position: absolute;
    right: 20px;
}

#GTM {
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 2px;
}

#Sunrise {
    font-size: 9px;
}

#Sunset {
    font-size: 9px;

}

#DateDay {
    position: absolute;
    font-size: 14px;
    top: -2px;
}

#DateInfo {
    position: absolute;
    font-size: 10px;
    top: 15px;
}

#DaysThisMonth {
    position: absolute;
    font-size: 10px;
    top: -2px;
    right: 4px;
}

#DaysUntilNext {
    position: absolute;
    font-size: 10px;
    top: 7px;
    right: 4px
}

#NextMonth {
    position: absolute;
    font-size: 10px;
    top: 16px;
    right: 4px;
}


#EventName {
    position: absolute;
    font-size: 13px;
    top: -4px;
}

#EventLocation {
    position: absolute;
    font-size: 9px;
    top: 13px;
}

#StartEDay {
    position: absolute;
    font-size: 10px;
    top: 0px;
    right: 3px;
}


#TicketPrice {
    position: absolute;
    font-size: 10px;
    top: 10px;
    right: 3px;
}

#SeasonsIcons {
    position: absolute;
    font-size: 10px;
    top: 0px;
    left: -2px;
}

#SeasonsIcons * {
    font-size: 15px;
    margin: 0px 11px 0px 15px;
}

#Seasons {
    position: absolute;
    font-size: 10px;
    right: 7.5px;
    top: 15px;
}

@media only screen and (max-width: 425px) {
    #SeasonsIcons {
        font-size: 10px;
        display: table;
        margin: 0 auto;
        width: 100%;
    }

    #SeasonsIcons * {
        font-size: 15px;
        margin: 0px 11px 0px 15px;
    }

    #Seasons {
        font-size: 10px;
        margin: 0 auto;
        width: 93%;
        margin-right: -2px;
    }

    #Sunrise {
        font-size: 10px;
        position: absolute;
        top: 0px;
        right: 2px;
    }

    #Sunset {
        font-size: 10px;
        position: absolute;
        top: 10px;
        right: 2px;
    }
}

@media only screen and (min-width: 768px) {
    #SeasonsIcons {
        font-size: 10px;
        display: table;
        margin: 0 auto;
        width: 100%;
    }

    #SeasonsIcons * {
        font-size: 15px;
        margin: 0px 11px 0px 15px;
    }

    #Seasons {
        display: table;
        margin: 0 auto;
        text-align: center;
        font-size: 10px;
        width: 93%;
        margin-right: 3px;
    }
}

@media only screen and (min-width: 992px) {
    #SeasonsIcons {
        font-size: 10px;
        display: table;
        margin: 0 auto;
        width: 100%;
    }

    #SeasonsIcons * {
        font-size: 15px;
        margin: 0px 11px 0px 15px;
    }

    #Seasons {
        font-size: 10px;
        display: table;
        margin: 0 auto;
        width: 94%;
        text-align: center;
    }


}


#MoreInfoDateTime {
    font-size: 11px;
    text-decoration: none;
    color: white;
}
